body{
    background-color: black;
}

#calculator h1{
    color: white;
    background-color: green;
    padding: 10px ;
    text-align: center;
}

#container{
    width: 320px;
    height: 520px;
    background-color: aliceblue;
    border: 3px solid green;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19) ;

}
#result{
    height: 120px;
    border: 2px solid black;
    margin: 0px 15px;
    margin-top: 40px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 10px;
    padding-top: 20px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
#keyboard{
    height: 400px;

}
.operator, .number, .empty{
    height:40px;
    width: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    font-weight:bold;
    /*border-width: 0;*/
    font-size: 15px;
}

.empty {
    background-color: aliceblue;
    border-width: 0;
}

.operator, .number{
    cursor: pointer;
}
.operator:active, .number:active {
    font-size: 13px;
    }
.operator:focus, .number:focus, .empty:focus {
    outline: none;
}
.number{
    background-color: green;
    color: white;
}
button:nth-child(1)
{
    background-color:orange;
}
button:nth-child(2)
{
    background-color:orange;
}
button:nth-child(3)
{
    background-color:orange;
}
button:nth-child(4)
{
    background-color:orange;
}
button:nth-child(8)
{
    background-color:orange;
}
button:nth-child(12)
{
    background-color:orange;
}
button:nth-child(16)
{
    background-color:orange;
}
button:nth-child(20)
{
    background-color:orange;
}